<div class="boxed">
	<table class="grid">
		<tbody>
			<tr>
				<td>
					<a href = "#/"/>
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
					</a>	
				</td>
			</tr>
			<tr>
				<td class = "photos">
          			<img src="https://www.placecage.com/c/200/300">
          		</td>
          		</tr>
          		<tr>
        			<td>
          				<i class="fa fa-user" aria-hidden="true"></i>
          				{{details.cont.name}}
        			</td>
      			</tr>
      			<tr>
        			<td>
          				<i class="fa fa-envelope" aria-hidden="true"></i>
          				{{details.cont.email}}
        			</td>
      			</tr>
      			<tr>
        			<td>
          				<i class="fa fa-mobile" aria-hidden="true"></i>
          				{{details.cont.phone}}
        			</td>
      			</tr>
      			<tr>
        			<td>
          				<i class="fa fa-globe" aria-hidden="true"></i>
          				{{details.cont.location}}
        			</td>
      			</tr>
		</tbody>
	</table>
</div>